
.collapsible-section {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1em;
    padding: 0.5em;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-btn {
    display: inline-block;
    visibility: visible !important;
    opacity: 1;
    position: relative;
    z-index: 10;
    background-color: #ccc;
    border: 1px solid #999;
    padding: 4px 8px;
    margin-left: 1rem;
    font-size: 1.5em;
    cursor: pointer;
    color: black;
}